body {
  background-color: #77b6ff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.main {
  background-color: #fff;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.default-btn {
  background-color: #2e95d8;
  padding: 0.4rem 1.5rem;
  color: #fff;
  border: none;
  border-radius: 2rem;
  text-transform: capitalize;
  box-shadow: 0 0 1rem #2e95d8;
}

.navbar .nav-item .nav-link {
  color: #707070;
}
.navbar .nav-item.active .nav-link {
  color: #343e5f;
  font-weight: 700;
}
.navbar-brand img {
  width: 100px;
}

header {
  background-color: #f9f9f9;
  border-radius: 1rem;
  position: relative;
}
header .arrow-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  text-align: center;
  line-height: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 10%;
  bottom: -1rem;
  font-size: 0.75rem;
  color: #707070;
}

.padding {
  padding: 2rem;
}

.carousel-item h2 {
  font-size: 5vw;
  color: #343e5f;
}
.carousel-item p {
  color: rgba(52, 62, 95, 0.5);
}
.carousel-item button {
  background-color: #1cc0a3;
  color: #fff;
  border-radius: 2rem;
  padding: 0.4rem 1.5rem;
}
.carousel-item button i.fa {
  margin-left: 0.5rem;
}
.carousel-item img {
  width: 100%;
}

.carousel-indicators li {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #8fd2ff;
  border-radius: 50%;
}
.carousel-indicators li.active {
  background-color: #1cc0a3;
}

.partners {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.partners:nth-child(odd) {
  right: -5rem;
}
.partners:nth-child(even) {
  left: -5rem;
}
.partners .content-overimg {
  position: relative;
  width: 100%;
  height: 350px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  border-radius: 1.2rem;
}
.partners .content-overimg img {
  width: inherit;
  height: inherit;
}
.partners .content-data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.partners .content-data:before {
  content: "";
  background-color: rgba(119, 182, 255, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}
.partners .content-data .content {
  z-index: 1;
  position: relative;
  position: absolute;
  bottom: 0;
  padding: 1rem;
}
.partners .content-data .content h2 {
  text-transform: capitalize;
  flex-basis: 100%;
}
.partners .partners-content {
  padding-top: 3rem;
}
.partners .partners-content h2 {
  color: #343e5f;
  margin-bottom: 1rem;
}
.partners .partners-content p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgba(52, 62, 95, 0.35);
}
.partners .partners-content p:last-of-type {
  margin-bottom: 5rem;
}
.partners .partners-content ul {
  margin-top: 4rem;
}
.partners .partners-content ul li {
  position: relative;
}
.partners .partners-content ul li img {
  width: 5rem;
  height: 5rem;
}

.newest {
  background-image: url("../images/newest.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 12rem;
  padding-bottom: 12rem;
}
.newest .title {
  color: #fff;
}
.newest .title span {
  display: block;
  width: 100%;
}
.newest .title span .fa {
  font-size: 1rem;
}
.newest .title span:last-of-type {
  position: relative;
}
.newest .title span:last-of-type:after {
  content: "";
  display: block;
  width: 75px;
  height: 1px;
  background-color: #fff;
  margin-top: 0.5rem;
}
.newest .content {
  position: relative;
  margin-top: 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.newest .content img {
  width: 100%;
  height: 200px;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.newest .content .content-title {
  width: 100%;
  position: absolute;
  top: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.newest .content .data {
  background-color: #fff;
  padding: 1rem;
  text-transform: capitalize;
  position: relative;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.newest .content .data .date {
  color: #b5b5b5;
  font-size: 0.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.newest .content .data-title {
  font-size: 1.2rem;
  color: #343e5f;
}
.newest .content .data .fa {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -1rem;
  background-color: #77b6ff;
  color: #fff;
  width: 2rem;
  height: 2rem;
  line-height: 2.2rem;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  font-size: 0.75rem;
  box-shadow: 0 0 1rem #2e95d8;
  cursor: pointer;
}

.get-in-touch .title {
  text-transform: uppercase;
  color: #343e5f;
}
.get-in-touch .default-btn {
  border-radius: 0.25rem;
}

footer {
  background-color: #f9f9fa;
  color: #9398aa;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
footer h2 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}
footer li {
  margin-right: 2rem;
}
footer li:last-of-type {
  margin-right: 0;
}
footer a {
  color: inherit;
}
footer a:hover {
  color: inherit;
}

.form-control {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

textarea {
  resize: none;
}

/*# sourceMappingURL=main.css.map */
